html {
  color: $gray-dark-1;  
}

html.wf-active {
  font-family: $font-family-serif;
  font-weight: 300;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans;
    font-weight: 700;
  }
}

body {
  background: $color-body-bg;
}

b, strong {
    font-weight: bold;
}

a {
  color: $color-link;
}

pre, code {
  border: 1px solid $color-divider-light;
  border-radius: $border-radius-sm;
  background-color: #FFF;
  font-size: 0.9em;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
