.wrapper-outer {
  border: 1px solid #bac8ff;
  margin: 0 .5rem;
  margin-bottom: 1rem;
}

.wrapper-inner {
  background: #f1f3f5;
  margin: .5rem;
  padding: 1rem;  
}

.page-content {
  margin: .5rem;  
}

.contact-list, .social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: .25rem 0;
  }
}

.social-media-list {
  padding-left: 1rem;
}

.site-description {
  background: #f8f9fa;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  margin-left: 1rem;
  padding: .5rem;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 2rem 0;
  }
}

.post-meta {
  @extend .font-sans;
  color: #495057;
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
}

.post-title {
  margin-top: .25rem;
}

.post-link {
  text-decoration: none;

  &:active, &:hover {
    color: #212529;
    text-decoration: underline;
  }
}
