.wrapper-outer {
  border: 1px solid #bac8ff;
  margin: 0 $spacing-2;
  margin-bottom: $spacing-4;
}

.wrapper-inner {
  background: #f1f3f5;
  margin: $spacing-2;
  padding: $spacing-4;  
}

.site-description {
  background: #f8f9fa;
  border: 1px solid #adb5bd;
  border-radius: $border-radius-base;
  font-family: $font-family-serif;
  margin-top: 0;
  margin-left: $spacing-4;
  padding: $spacing-2;
}

.post-list {
  @extend .list-none;
  padding: $spacing-4 0;

  li {
    margin: $spacing-8 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post-meta {
  @extend .font-sans;
  color: #495057;
  font-size: .85em;
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 0;
  margin-top: $spacing-1;
}

.post-link {
  text-decoration: none;

  &:active, &:hover {
    color: #212529;
    text-decoration: underline;
  }
}

.subscribe-link {
  @extend .font-sans;
  margin-top: $spacing-8;
}
