.wrapper-outer {
  border-color: $color-body-divider;
  border-style: solid;
  border-width: 1px 0;
  margin-bottom: $spacing-4;

  @media screen and (min-width: $breakpoint-sm) {
    border-width: 1px;
    margin-left: $spacing-2;  
    margin-right: $spacing-2;  
  }
}

.wrapper-inner {
  background: $color-bg-base;
  margin: $spacing-2 0;

  @media screen and (min-width: $breakpoint-sm) {
    margin: $spacing-2;
    padding: $spacing-4;    
  }
}

.post-list {
  @extend .list-none;
  padding: $spacing-4 0;

  li {
    margin: $spacing-8 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.post-meta {
  @extend .font-sans;
  @extend .text-secondary;
  font-size: .85em;
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 0;
  margin-top: $spacing-1;
}

.post-link {
  text-decoration: none;

  &:active, &:hover {
    @extend .text-primary;
    text-decoration: underline;
  }
}

.subscribe-link {
  @extend .font-sans;
  margin-top: $spacing-8;
}

.social-link {
  text-decoration: none;

  span.icon {
    display: inline-block;
    margin-right: $spacing-1;

    svg {
      fill: $gray-dark-3;
      vertical-align: middle;
    }
  }

  span.username {
    display: inline-block;
    text-decoration: underline;
  }
}
