#header {
  @extend .font-sans;  
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem .25rem;
  position: relative;
}

#nav {
  padding: .25rem;
}

#main {
  border: 1px solid #bac8ff;
  margin: 0 .5rem;
  margin-bottom: 1rem;
}

.main-inner {
  background: #f1f3f5;
  margin: .5rem;
  padding: 1rem;
}

.content {
  padding-bottom: 2rem;
}

#footer {
  @extend .font-sans;
  border-top: 1px dashed #868e96;
  color: #495057;  
  font-size: .9em;
  padding-top: 1.5rem;
}

.footer-wrapper {
  padding: .5rem; 
}

.footer-heading {
  font-size: 1.1em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.footer-content {
  display: flex;
}

.site-title {
  color: #FFF;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700;
  padding: .5rem;
  text-decoration: none;
}

.page-link {
  color: #FFF;
  font-weight: 400;
  margin: 0 .5rem;
  padding: .5rem;
  text-decoration: none;

  &:active, &:hover {
    text-decoration: underline;
  }
}

.page-heading {
  border: 1px solid #495057;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #495057;
  margin-top: 0;
  padding: .5rem;
}

.page-content {
  margin: .5rem;  
}

.contact-list, .social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: .25rem 0;
  }
}

.contact-list {
  width: 35%;
}

.social-media-list {
  padding-left: 1rem;
  width: 20%;
}

.site-description {
  background: #f8f9fa;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  margin-left: 1rem;
  padding: .5rem;
  width: 45%;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 2rem 0;
  }
}

.post-meta {
  @extend .font-sans;
  color: #495057;
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
}

.post-title {
  margin-top: .25rem;
}

.post-link {
  text-decoration: none;

  &:active, &:hover {
    color: #212529;
    text-decoration: underline;
  }
}

.article-header {
  @extend .xlimit-sm;
  border: 1px solid #495057;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #495057;  
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0.75rem;

  a {
    @extend .font-sans;
    text-decoration: none;
  }

  p {
    @extend .font-sans;
    color: #495057;
    font-size: .85em;  
    margin-bottom: 0;
  }
}

.article-body {
  @extend .xlimit-xs;
  line-height: 1.75;
}
