#header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem .25rem;
  position: relative;
}

#nav {
  padding: .25rem;
}

#main {
  border: 1px solid #FFF;
  margin: 0 .5rem;
}

.main-wrapper {
  background: #f1f3f5;
  margin: .5rem;
  padding: 1rem;
}

.site-title {
  color: #FFF;
  display: inline-block;
  font-family: 'Monda', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  padding: .5rem;
  text-decoration: none;
}

.page-link {
  color: #FFF;
  font-family: 'Monda', sans-serif;
  font-weight: 400;
  margin: 0 .5rem;
  padding: .5rem;
  text-decoration: none;

  &:active, &:hover {
    text-decoration: underline;
  }
}

.page-heading {
  border: 1px solid #212529;
  border-radius: 3px;
  box-shadow: 3px 3px 0 #212529;
  margin-top: 0;
  padding: .5rem;
}

.page-content {
  margin: .5rem;  
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 2rem 0;
  }
}

.post-meta {
  color: #495057;
  font-family: 'Monda', sans-serif;  
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
}

.post-title {
  margin-top: .25rem;
}

.post-link {
  text-decoration: none;

  &:active, &:hover {
    color: #212529;
    text-decoration: underline;
  }
}
