.xlimit, .xlimit-sm, .xlimit-xs {
  box-sizing: border-box;
  margin: auto;
}
.xlimit { max-width: $xlimit-base; }
.xlimit-sm { max-width: $xlimit-sm; }
.xlimit-xs { max-width: $xlimit-xs; }

.font-sans {
  font-family: $font-family-sans;   
}

.text-primary {
  color: $gray-dark-1;
}

.text-secondary {
  color: $gray-dark-3;  
}
  
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: $spacing-2 0;
  }
}
