#article > header, #article > h1 {
  @extend .xlimit-sm;    
  border: 1px solid #495057;
  border-radius: $border-radius-base;
  box-shadow: 3px 3px 0 #495057;  
  margin-bottom: $spacing-8;
  margin-top: $spacing-4;
}

#article > h1 {
  padding: $spacing-8 $spacing-3;
  text-align: center;  
}

#article > header {
  padding: $spacing-3;  

  a {
    @extend .font-sans;
    text-decoration: none;
  }

  p {
    @extend .font-sans;
    color: #495057;
    font-size: .85em;  
    margin-bottom: 0;
  }  
}

#article > section {
  @extend .xlimit-xs;
  line-height: 1.75;
}
