#footer {
  @extend .xlimit;
  @extend .font-sans;
  @extend .text-secondary;
  border-top: 1px dashed $gray-dark-4;
  font-size: .9em;
  padding-top: $spacing-6;

  h2 {
    font-size: 1.1em;
    margin-bottom: $spacing-4;
    margin-top: 0;
  }
}

.footer-inner {
  padding: $spacing-4;     
  
  @media screen and (min-width: $breakpoint-sm) {
    padding: 0 $spacing-4;     
  }

}

.footer-author > ul {
  @extend .list-none;  
  margin-bottom: $spacing-4;
}

.footer-description > p {
  background: $color-bg-light;
  border: 1px solid $color-divider-base;
  border-radius: $border-radius-base;
  font-family: $font-family-serif;
  font-size: $font-size-sm;
  line-height: $line-height-base;
  margin-top: 0;
  max-width: .45 * $xlimit-base;
  padding: $spacing-2;
}

@media screen and (min-width: $breakpoint-sm) {
  .footer-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-author > ul {
    &:first-child {
      width: 60%;
    }
  
    &:last-child {
      padding-left: $spacing-4;
      width: 40%;
    }  
  }
}

@media screen and (min-width: $breakpoint-md) {
  .footer-inner > section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }  

  .footer-author {
    width: 55%;    
  }
  
  .footer-description {
    padding-left: $spacing-4;
    width: 45%;
  }
}
