#header {
  @extend .font-sans;  
  @extend .xlimit;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  position: relative;
}

.header-title {
  color: #FFF;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700;
  padding: .5rem;
  text-decoration: none;
}
