#header {
  @extend .font-sans;  
  @extend .xlimit;
  padding: $spacing-2 0;

  @media screen and (min-width: $breakpoint-sm) {
    align-items: center;
    display: flex;  
    justify-content: space-between;
  }
}

#header > a {
  color: #FFF;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: $spacing-4;
  padding: $spacing-2;
  text-decoration: none;

  @media screen and (min-width: $breakpoint-sm) {
    margin-bottom: 0;
  }
}
