<footer id="footer" role="contentinfo">
  <div class="footer-inner">
    
    <h2>{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="list-none">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
      
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>      
      </div>
    
      <div class="footer-col">
        <ul class="list-none">
          {% if site.github_username %}
            <li>
              {% include github-link.html username=site.github_username %}
            </li>
          {% endif %}
      
          {% if site.twitter_username %}
            <li>
              {% include twitter-link.html username=site.twitter_username %}
            </li>
          {% endif %}
        </ul>      
      </div>

      <div class="footer-col">
        <p class="site-description">{{ site.description | escape }}</p>                            
      </div>
    </div>

  </div>
    
</footer>
