<footer id="footer" role="contentinfo">
  <div class="footer-inner">
    
    <h2>{{ site.title | escape }}</h2>

    <section>
      <div class="footer-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <ul>
          {% if site.author %}
            <li itemprop="name">{{ site.author | escape }}</li>
          {% endif %}

          <li><a href="mailto:{{ site.email }}" itemprop="email">{{ site.email }}</a></li>
        </ul>

        <ul>
          {% if site.github_username %}
            <li>{% include github-link.html username=site.github_username %}</li>
          {% endif %}
      
          {% if site.twitter_username %}
            <li>{% include twitter-link.html username=site.twitter_username %}</li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-description">
        <p itemprop="description">{{ site.description | escape }}</p>                            
      </div>
    </section>

  </div>
    
</footer>
