// Fonts
$font-family-sans: 'Monda', sans-serif !default; 
$font-family-serif: 'Roboto Slab', serif !default;

// Width limits
$xlimit-base: 960px !default;
$xlimit-sm: 720px !default;
$xlimit-xs: 688px !default;

// Spacing
$spacing-1: .25rem;
$spacing-2: $spacing-1 * 2;
$spacing-3: $spacing-1 * 3;
$spacing-4: $spacing-1 * 4;
$spacing-6: $spacing-1 * 6;
$spacing-8: $spacing-1 * 8;

// Border radius
$border-radius-base: 3px;
$border-radius-sm: 2px;

// Color
$gray-dark-1: #212529;
$gray-dark-2: #343a40;
$gray-dark-3: #495057;
$gray-dark-4: #868e96;
$color-bg-base: #f1f3f5;
$color-bg-light: #f8f9fa;
$color-body-bg: #3b5bdb;
$color-body-divider: #bac8ff;
$color-divider-base: #adb5bd;
$color-divider-light: #ced4da;
$color-link: #364fc7;

// Base
@import 'xyzzy/base';

// Utilities
@import 'xyzzy/utility';

// Layout
@import
  'xyzzy/layout/article',
  'xyzzy/layout/footer',
  'xyzzy/layout/header',
  'xyzzy/layout/main',
  'xyzzy/layout/nav';

// Components
@import 'xyzzy/components';

// Syntax
@import 'xyzzy/syntax';
