$font-family-sans: 'Monda', sans-serif !default; 
$font-family-serif: 'Roboto Slab', serif !default;

$content-width: 800px !default;

@import
  'xyzzy/base',
  'xyzzy/utility',
  'xyzzy/layout';
