---
layout: default
---

<article id="article" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <a href="{{ "/" | relative_url }}">Posts ></a>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.date_format | default: '%B %d, %Y' %}
        {{ page.date | date: date_format }}  
      </time>
      {% if page.author %}
        • 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <section itemprop="articleBody">
    {{ content }}      
  </section>

</article>
